<div class="index wrap">
     <% if (page.current == 1){ %>
      <% if(page.sticky.length > 0){ %>
      <h2 class="divider"><%- __('index.sticky'); %></h2>
      <% var sticky = page.sticky.toArray(); %>
      <div class="segments sticky">
        <% for (post in sticky) %>
          <%- segment.render(post); %>
        <% } %>
      </div>
      <% } %>
