<% if(is_home() || is_category() || is_archive() || is_tag()) {
  var isPostList = true;
} else {
  var isPostList = false;
} %>
<h2 class="divider"><%- __('index.sticky'); %></h2>
<div class="segments sticky">
   <% if(theme.top_post && isPostList && post.top == true){ %>
      <div class="metatag top">
        <i class="<%- theme.top_post.icon %> fa-fw" aria-hidden="true"></i>&nbsp;<%- theme.top_post.text %>
      </div>
    <% } %>
</div>
