<div class="status">
  <div class="copyright">
    <span itemprop="copyrightYear">2022</span>
    <span class="with-love">
     </span>
    <span class="author" itemprop="copyrightHolder">{{ author }} @ {{ alternate if alternate else title}}</span>
  </div>
